form {
  display: grid;
  padding: 10px;
  border: 1px solid #c1c1c1;
  margin: 5px auto 0 auto;
  max-width: 600px;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;

}

form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}

form button {
  background: #dbdbdb;
  padding: 10px;
  width: 100%;
  border: 0;
  grid-column: 2/2;
}

form button:hover {
  background: #f4f79c;
}

label {
  padding: 5px 5px 5px 0;
}

input {
  padding: 10px;
  margin-bottom: 4px;
}

input:focus {
  outline: 2px solid #a4cfa1;
}

label {
    text-align: right;
    grid-column: 1 / 2;
  }

textarea:focus {
  outline: 2px solid #a4cfa1;
}

.rememberMe {
	  grid-column: 2/2;
	  width: 100%;
}










.postcard-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

.postcard {
  background-color: transparent;
  margin-bottom: 20px;
  width: 47%;
  height: 450px;
}

.postcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.postcard:hover .postcard-inner {
  transform: rotateX(180deg);
}

.postcard-front, .postcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.postcard-front {
  background-image: url("postcard_front.png");
  color: black;
  height: 100%;
  width: 100%;
  background-size: contain;
}

.postcard-back {
  background-image: url("postcard_back.png");
  color: black;
  overflow: scroll;
  transform: rotateX(180deg);
} 

.postcard-back p {
  padding: 20px;
}

.postcard-date {
  margin-left: 5%;
  font-size: 30px;
}