html {
	font-family: Verdana, Geneva, sans-serif;
}


body {
	margin: 0;
	background-color: black;
}


header {
	color: white;
	display: flex;
  	justify-content: space-between;
  	border-bottom: 1px solid #ddd;
}	

header h1 {
	margin-bottom: 0;
	text-transform: uppercase;
	margin-left: 10px;
	font-weight: normal;
	font-family: Helvetica;
}

/* Flex navigation bar */
.flexNav {
  	display: flex;  
  	flex-direction: row;
  	margin: 0;
	z-index: 100;
	position: relative;
}
  
.flexNav li {
    list-style-type: none;
    text-transform: uppercase;
  	display: block;

  }
  
.flexNav li a {
    display: flex;
    text-decoration: none;
    color: #c7b97b;
    padding: 10px;
 	height: 100%;
 	width: 140px;
 	justify-content: center;
 	align-items: center;
  }
  
.flexNav li a:hover {
    background: #DDC213;
    color: black;
  }

/* Navigation dropdown */

.subMenu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
 	width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.flexNav li:hover .subMenu {
	display: block;
	padding: 0;
}









/* Do not work on this yet */
main {
	color: white;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
}

.selectContainer {
	display: flex;

}

.container img{
	display: flow;
	width: 650px;
	height: 800px;
}



.imageContainer {
    overflow: hidden;
}



.imageContainer    img {
        transition: all .4s;
}

.overlay {
     position: absolute;
       @include overlay_position();
        background-color: $overlay;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all .4s;
        color: #fff;
        font-family: sans-serif;
        z-index: 1;
        background-color: black;
       	width: 622px;
		height: 800px;
    }
    
    .imageContainer:hover .overlay {
        opacity: 70%;
    }
    
    .imageContainer:hover img {
        transform: scale(1.4);
    }



#head {
	display: flex;
}






/*Main content of website */
.main-container {
	display: flex;
	  flex-flow: row wrap;
	margin-top: 40px;

}

.main-content {
	display: flex;
	background-color: white;
	color: black;
	margin-top: 100px;
	margin-bottom: 150px;
}



.main-content h2 {
	    display: flex;
		font-size: 50px;
		font-weight: normal;
        color: #c7b97b;
        justify-content: center;
}


.main-content img {
	width: 200px;
	height: 300px;
	padding-right: 20px;
	padding-top: 40px;
	padding-left: 10px;
	flex-grow: 0;
	flex-shrink: 0;
}








.parallax {
	background-image: url("../../media/background.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}




























footer {
	margin-top: 30px;
	color: white;
	display: flex;
}





/* Small screens */
@media all and (max-width: 500px) {
	.flexNav {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .selectContainer {
  	flex-direction: column;
  }
}