/* Font for header text */
@font-face {
    font-family: 'playfair_displayregular';
    src: url('/wp/a2/fonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
         url('/wp/a2/fonts/playfairdisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Font for regular content */
@font-face {
    font-family: 'open_sansregular';
    src: url('/wp/a2/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/wp/a2/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Font for letter content */
@font-face {
    font-family: 'bad_scriptregular';
    src: url('/wp/a2/fonts/badscript-regular-webfont.woff2') format('woff2'),
         url('/wp/a2/fonts/badscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  font-family: open_sansregular;
  color: white;
}

body {
  margin: 0;
  background-color: black;
}

main {
  color: white;
  border-top: 2px solid grey;
}

/*Fonts for different header types */
h1 {
  font-family: playfair_displayregular;
}

h2 {
  font-family: playfair_displayregular;
}

/*  of header */
header {
  display: flex;
  height: 100%;
  margin: 0px 16px 0px 16px;
  line-height: 0px;
  align-items: center;
  justify-content: flex-start;
} 

header h1 {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: normal;
}

header a {
  text-decoration: none;
  color: white;
}

/* Fixed nav so it stays on page */
nav {
  position:sticky;
  top: 0px;
  z-index: 20;
  background: black;
  height: 62px;
}

/* Flex navigation bar */
.flexNav {
    display: flex;  
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 0;
  z-index: 100;
  position: relative;
}
  
.flexNav li {
    list-style-type: none;
    text-transform: uppercase;
    display: block;
}
  
.flexNav li a {
    display: flex;
    text-decoration: none;
    color: #b8a04b;
    padding: 10px;
    height: 100%;
    width: 140px;
    justify-content: center;
    align-items: center;
}
  
.flexNav li a:hover {
    background: #DDC213;
    color: black;
}

/* Navigation dropdown */
.subMenu {
  display: none;
  position: absolute;
  background-color: white;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.flexNav li:hover .subMenu {
  display: block;
  padding: 0;
}

/* Main content image style */
.main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.main-container h1 {
  font-size: 70px;
  line-height: 1px
}

.main-content h2 {
  color: #b8a04b;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

/* battle letters style and readability */
.battle-letters {
  margin-top: 30px;
  color: black;
  background: white;
  padding: 0px 20px 0px 20px;
}

.battle-letters img {
  height: 500px;
  width: 700px;
  float: left;
  padding-right: 30px;
}

.battle-letters p {
  font-family: bad_scriptregular;
  font-weight: normal;
  font-size: 20px;
}