/* Font for header text */
@font-face {
    font-family: 'playfair_displayregular';
    src: url('/wp/a2/fonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
         url('/wp/a2/fonts/playfairdisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Font for regular content */
@font-face {
    font-family: 'open_sansregular';
    src: url('/wp/a2/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/wp/a2/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Font for letter content */
@font-face {
    font-family: 'bad_scriptregular';
    src: url('/wp/a2/fonts/badscript-regular-webfont.woff2') format('woff2'),
         url('/wp/a2/fonts/badscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
  font-family: open_sansregular;
  color: white;
}

body {
  margin: 0;
  background-color: black;
}

main {
  color: white;
  border-top: 2px solid grey;
  padding: 30px 20px 0px 20px;
  color: white;
  background-color: grey;
  opacity: 0.8;
}

.parallax {
  background-image: url("/../../../media/poppy-background2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/*Fonts for different header types */
h1 {
  font-family: playfair_displayregular;
}

h2 {
  font-family: playfair_displayregular;
}

h3 {
  font-family: playfair_displayregular;
}

/*  of header */
header {
  display: flex;
  height: 100%;
  margin: 0px 16px 0px 16px;
  line-height: 0px;
  align-items: center;
  justify-content: flex-start;
} 

header h1 {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: normal;
}

header a {
  text-decoration: none;
  color: white;
}

/* Fixed nav so it stays on page */
nav {
  position:sticky;
  top: 0px;
  z-index: 20;
  background: black;
  height: 62px;
}

/* Flex navigation bar */
.flexNav {
  display: flex;  
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 0;
  z-index: 100;
  position: relative;
}
  
.flexNav li {
  list-style-type: none;
  text-transform: uppercase;
  display: block;
}
  
.flexNav li a {
  display: flex;
  text-decoration: none;
  color: #b8a04b;
  padding: 10px;
  height: 100%;
  width: 140px;
  justify-content: center;
  align-items: center;
}
  
.flexNav li a:hover {
  background: #DDC213;
  color: black;
}

/* Navigation dropdown */
.subMenu {
  display: none;
  text-align: center;
  position: absolute;
  background-color: white;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.flexNav li:hover .subMenu {
  display: block;
  padding: 0;
}

.main-container h1 {
  text-align: center;
  font-size: 70px;
  color: black;
  margin-top: 0px;
}

.month-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.month-container h2 {
  order: -1;
  flex: 1 0 100%;
  padding-left: 20px;
  color: black;
  font-size: 30px;

}

.date-container {
  width: 400px;
  border-top: 1px solid black;
  margin: 20px;
  text-align: center;
  color: black;
  padding: 20px;
  margin-left: 20px;
  height: 300px;
  font-family: bad_scriptregular;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.date-container h3 {
  color: #b8a04b;
}

/* modal styling */
.modal-open {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: initial;
  background: rgba(0,0,0,0.9);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal-open:target {
  opacity:1;
  pointer-events: auto;
}

.modal-open > div {
  width: 80%;
  height: 60%;
  overflow-y: auto;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background-image: url("/../../../media/paper-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: bad_scriptregular;
  font-size: 24px;
}

/* close modal */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  background: #ebd8a2; 
}

/* Footer and script design */
footer {
  text-align: center;
  margin-top: 50px;
}

footer a{
  text-decoration: none;
  color: white;
}

footer h3 {
  font-weight: normal;
}

.links {
  display: flex;
  justify-content: center;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
}

.links-item {
  width: 155px;
    margin: 10px;
}

/* Small screens */
@media all and (max-width: 500px) {
  .flexNav {
    flex-flow: column wrap;
  }

  nav {
    height: 252px;
    padding-left: 100px;
  }
}

/* Medium screens */
@media all and (max-width: 900px) {
  .flexNav {
    flex-flow: row wrap;
  }

 .modal-open {
  margin-top: 270px;
  padding-top: 50px;
  }

  nav {
    height: 272px;
  }
}